html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background: #121212; 
    overflow-x: hidden;
    color: whitesmoke;
    height: 100%;
}

input{
    color: inherit;
    border: none;
    border-bottom: 2px solid gray;
    outline: none;
    background:transparent;
    font-size: medium;
    padding: 0.625rem;
}
input:focus {
    color: white;
}

.container{
    background-color: white;
    min-height: 60vh;
    width: 40vw;
    display: flex;
    justify-content: center;
    margin: 100px auto auto auto;
    border-radius: 5px;
    box-shadow: 0px 1px 3px gray;
    padding: 10px;
    background: #1f1f1f;
}
.container .formWrap form{
    width:20rem;
    display: flex;
    flex-direction: column;
    gap:15px;
}
.google-SignIn{
    width:100%;
    text-align: center;
}

.actionBtn{
    text-decoration: none;
    color:inherit;
    border-radius: 5px;
    background-color: #4c4b4b;
    padding: 5px;
    border: 10px;
}
.loginBtn{
    padding: 5px; 
    font-size: medium;
}
.google-logo{
    width: 100px;
}